*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

ul {
  list-style-type: none;
}

section + section {
  margin-top: 7.5rem;
}

.section-name {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;

  @include circle-left;
}

.title {
  font-weight: 700;
  line-height: 1.25;
}

.title--xs {
  font-size: 0.875rem;
  line-height: 1.66;
}

.title--sm {
  font-size: 1.25rem;
  line-height: 1.33;
}

.title--md {
  font-size: 2.25rem;
  line-height: 1.66;
}

.title--lg {
  font-size: 3rem;
}

.text {
  font-weight: 500;
}

.text--sm {
  font-size: 0.75rem;
  line-height: 1.5;
}

.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 0;
  color: $color-text;
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: none;
}

.button--filled {
  background-color: $color-main;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button--ghost {
  background-color: transparent;
}

.divider {
  width: 60px;
  height: 4px;
  background-color: $color-main;
}

@include media-down("xl") {
}
@include media-down("lg") {
  section + section {
    margin-top: 5.5rem;
  }
}
@include media-down("md") {
  section + section {
    margin-top: 3.5rem;
  }
}
@include media-down("sm") {
  section + section {
    margin-top: 2.5rem;
  }

  .title--md {
    font-size: 1.5rem;
    line-height: 1.5;
  }

  .title--lg {
    font-size: 1.625rem;
  }
}
@include media-down("xs") {
}
