@mixin circle {
  position: relative;
  z-index: 5;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 2.25rem;
    height: 2.25rem;
    background-color: $color-main;
    border-radius: 50%;
    z-index: -5;
  }
}

@mixin circle-left {
  @include circle;

  &::before {
    left: 0.5rem;
    transform: translate(-50%, -50%);
  }
}

@mixin circle-center {
  @include circle;

  &::before {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@mixin media-up($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}

@mixin media-down($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (max-width: map-get($breakpoints, $breakpoint) - 0.02px) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
