.about {
}
.about__inner {
  display: grid;
  grid-template-columns: 400px 570px;
  grid-template-rows: 240px minmax(320px, auto);
  gap: 40px 70px;
}
.about__photo {
  grid-row: 1/-1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.about__content {
}
.section-name {
  margin-left: 0.625rem;
  margin-top: 0.425rem;
}
.about__section-name {
}

.about__divider {
  margin-bottom: 20px;
}

.about__title {
  margin-bottom: 0.5rem;
}
.about__text {
}
.about__skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about__card {
}

.card-about {
  display: grid;
  grid-template-columns: 40px 200px;
  column-gap: 20px;
}
.card-about__icon {
  img {
    margin-top: 0.9375rem;
    margin-left: 0.9375rem;
    max-width: 100%;
  }

  @include circle-left;

  &::before {
    top: 1.125rem;
    left: 1.125rem;
  }
}
.card-about__content {
}
.card-about__text {
  margin-top: 6px;
}

@include media-down("xl") {
  .about__inner {
    grid-template-columns: 380px 570px;
    gap: 40px 20px;
    justify-content: center;
  }
}
@include media-down("lg") {
  .about__inner {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 20px 10px;
  }

  .card-about {
    grid-template-columns: 40px 1fr;
  }

  .about__divider {
    margin-top: 15px;
  }
}

@include media-down("md") {
  .about__inner {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fill, auto);
    gap: 10px 10px;
  }

  .about__photo {
    height: 500px;
  }

  .about__skills {
    gap: 10px;
  }
}
@include media-down("sm") {
  .about__skills {
    justify-content: center;
  }

  .about__photo {
    height: 300px;
  }

  .about__card {
    & + & {
      margin-top: 20px;
    }
  }
}
@include media-down("xs") {
  .about__card {
    width: 100%;
  }
}
