.about {
}
.about__inner {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 240px minmax(320px, auto);
  gap: 40px 70px;
}
.about__photo {
}
.about__content {
}
.section-name {
}
.about__section-name {
}
.title {
}
.title--md {
}
.about__title {
}
.divider {
}
.about__text {
}
.about__skills {
}
.about__card {
}
