.contact {
  padding-bottom: 60px;
}
.contact__inner {
  display: grid;
  grid-template-columns: 400px 570px;
  justify-content: space-around;
}
.contact__photo {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.contact__content {
}
.contact__section-name {
}
.contact__title {
}
.contact__divider {
  margin-bottom: 1.25rem;
}
.contact__socials {
}
.socials-contact {
}
.socials-contact__links {
  margin: 1.25rem 0;

  a {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
  }

  a + a {
    margin-left: 1.25rem;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
.contact__message {
}
.contact__form {
  display: grid;
  grid-template-rows: 45px 190px 45px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  margin-top: 20px;
  row-gap: 30px;
  column-gap: 25px;
}

.contact__input,
.contact__textarea {
  position: relative;

  > label {
    @extend .text--sm;
    position: absolute;
    left: 10px;
    transform: translateY(-50%);
    background-color: #ffffff;
    z-index: 10;
  }
}

.contact__input {
  > input {
    @extend .text--sm;

    padding: 0 10px;
    width: 100%;
    height: 100%;
  }
}
.contact__textarea {
  max-width: 100%;
  grid-column: span 2;
  resize: none;

  > textarea {
    padding: 10px;
    width: 100%;
    height: 100%;
  }
}

.contact__button {
  justify-self: flex-start;
}

@include media-down("xl") {
  .contact__inner {
    grid-template-columns: 350px 570px;
  }
}
@include media-down("lg") {
  .contact__inner {
    grid-template-columns: 1fr;
  }

  .contact__divider {
    margin-top: 15px;
    margin-bottom: 20px;
  }

  .contact__photo {
    display: none;
  }
}

@include media-down("md") {
}
@include media-down("sm") {
  .contact__form {
    grid-template-columns: 1fr;
    grid-template-rows: 45px 45px 190px 45px;
    justify-content: center;
    gap: 20px;
  }

  .contact__textarea {
    grid-column: initial;
  }

  .contact__button {
    justify-self: center;
  }
}
@include media-down("xs") {
}
