.prices {
  text-align: center;
}
.prices__section-name {
}
.prices__divider {
  margin: 30px auto 60px;
}
.prices__content {
  display: grid;
  grid-template-columns: repeat(2, 22.875rem);
  grid-template-rows: repeat(3, auto);
  gap: 0.9375rem;
  justify-content: space-between;
}
.prices__item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: space-between;
  padding-left: 1.5rem;
  text-align: start;

  &::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 0;
    width: 0.9375rem;
    height: 0.9375rem;
    background-color: $color-main;
    border-radius: 50%;
  }
}
.prices__item-value {
  text-align: end;
}
.prices__item-description {
  grid-column: 1/-1;
  margin-top: 5px;
}

@include media-down("xl") {
}
@include media-down("lg") {
  .prices__divider {
    margin: 20px auto;
  }
}

@include media-down("md") {
  .prices__content {
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
  }
}
@include media-down("sm") {
}
@include media-down("xs") {
}
