.works {
  text-align: center;
}
.works_section-name {
}
.works__title {
}
.works__divider {
  margin: 25px auto 60px;
}
.works__list {
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 280px);
  width: 100%;
  gap: 4px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.works__item:nth-child(4) {
  grid-row: 1/-1;
  grid-column: span 1/-1;
}

.works__item:nth-child(6) {
  grid-column: 2/4;
}

@include media-down("xl") {
  .works__list {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 280px;
  }

  .works__item:nth-child(4) {
    grid-row: initial;
    grid-column: initial;
  }

  .works__item:nth-child(6) {
    grid-column: initial;
  }
}
@include media-down("lg") {
  .works__divider {
    margin: 15px auto 20px;
  }
}

@include media-down("md") {
}
@include media-down("sm") {
  .works__list {
    justify-content: center;
    grid-template-columns: 280px;
  }
}
@include media-down("xs") {
}
